body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
}

nav{
    margin: 0;
    padding: 12px;
    width: 25%;
    min-width: 240px;
    height: 100vh;
    background: linen;
}

button{
    padding: 12px;
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
    border-radius: 6px;
    box-shadow: 1px 2px 2px 1px #00000050;
    background: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    transform: scale(1.15);
    background: rebeccapurple;
    color: linen;
}

header  button,
.btns button{
    border: none;
    background-color: rebeccapurple;
    color: white;
}

header button:hover,
.btns button:hover{
    transform: scale(1.05);
    background: transparent;
    color: rebeccapurple;
    border: 2px solid rebeccapurple;
}

.mobileMenu{
    display: none;
}

.mobNav{
    margin-left: 0px;
}

section{
    padding: 32px;
    margin: 0 auto;
}

input{
    width: 100%;
}

textarea{
    margin: 24px 0 0;
    width: 100%;
    height: 65vh;
} 

main + section{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(230, 230, 250, 0.671);
}

main + section > section{
    background: linen;
    width: 60%;
    box-shadow: 2px 2px 2px 3px #00000050;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.savedNote{
    padding: 8px 0;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.savedNote:hover{
    margin-left: 32px;
}

input, 
textarea{
    padding: 6px;
    border: 2px solid linen;
}

input:enabled,
textarea:enabled{
    border: 2px solid rebeccapurple;
}

@media screen and (max-width: 600px){
    nav{
        margin-left: -300px;
        height: 80vh;
        transition: all 300ms ease-in-out;
    }
    .mobileMenu{
        display: block;
        margin: 16px;
        background: linen;
        padding: 8px;
        font-size: 24px;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
        transition: all 150ms ease-in-out;
        box-shadow: 1px 2px 2px 1px #00000035;
    }
    .mobileMenu:hover{
        transform: scale(1.15);
        background: rebeccapurple;
        color: linen;
    }
    section{
        padding: 16px;
    }
}